.main {
  display: grid;
  min-height: 100%;
  padding: 16px;
  place-items: center;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 14%);
  cursor: pointer;
  line-height: 1.5;
  max-width: 480px;
  padding: 16px;
  width: 100%;
}

[class^="card"] {
  transition: all 250ms ease-in-out;
}

.card--fullsize {
  box-shadow: none;
  padding: 0;
}

.card__image {
  aspect-ratio: 2 / 1;
  border-radius: 4px;
  display: block;
  object-fit: cover;
  width: 100%;
}

.card__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 16px;
}

.card__title--fullsize {
  font-size: 40px;
}

.card__lead {
  font-size: 20px;
}

.card__lead--fullsize {
  font-size: 24px;
}

.card__text {
  margin-top: 16px;
}
